<div class="col s12 right-detalhes-processo">
	<h5 class="center">Outros Detalhes do Processo</h5>
	<div class="input-field input-group-control-with-search col s12 m4">
		<label for="desc_tipo_causa">Tipo da Causa</label>						
		<input value="<%= data.detalhes_processo[0].tipo_causa %>" id="desc_tipo_causa" type="text">
		<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-tipo-causa" data-href="#modalinfo" data-anchor-id="#id_tipo_causa" data-anchor-descricao="#desc_tipo_causa">
			<i class="fa fa-search"></i>
		</a>
		<input type="hidden" name="id_tipo_causa" id="id_tipo_causa">
	</div>

	<div class="input-field input-group-control-with-search col s12 m4">
		<label for="desc_assunto">Assunto</label>
		<input  value="<%= data.detalhes_processo[0].assunto %>" id="desc_assunto" type="text">
		<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-assunto" data-href="#modalinfo" data-anchor-id="#id_assunto" data-anchor-descricao="#desc_assunto">
			<i class="fa fa-search"></i>
		</a>
		<input type="hidden" name="id_assunto" id="id_assunto">
	</div>

	<div class="input-field input-group-control-with-search col s12 m4">
		<label for="desc_comarca">Comarca</label>
		<input  value="<%= data.detalhes_processo[0].comarca %>" type="text" id="desc_comarca">
		<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-comarca" data-href="#modalinfo" data-anchor-id="#id_comarca" data-anchor-descricao="#desc_comarca">
			<i class="fa fa-search"></i>
		</a>
		<input type="hidden" name="id_comarca" id="id_comarca">
	</div>

	<div class="input-field input-group-control-with-search col s12 m4">
		<label for="desc_tipo_acao_rito">Tipo da Ação/Rito</label>
		<input  value="<%= data.detalhes_processo[0].tipo_acao_rito %>" id="desc_tipo_acao_rito" type="text">
		<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-tipo-acao-rito" data-href="#modalinfo" data-anchor-id="#id_tipo_acao_rito" data-anchor-descricao="#desc_tipo_acao_rito">
			<i class="fa fa-search"></i>
		</a>
		<input type="hidden" name="id_tipo_acao_rito" id="id_tipo_acao_rito">		
	</div>

	<div class="input-field input-group-control-with-search col s12 m4">
		<label for="desc_vara">Vara</label>
		<input  value="<%= data.detalhes_processo[0].vara %>" id="desc_vara" type="text">
		<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-vara" data-href="#modalinfo" data-anchor-id="#id_vara" data-anchor-descricao="#desc_vara">
			<i class="fa fa-search"></i>
		</a>
		<input type="hidden" name="id_vara" id="id_vara">					
	</div>

	<div class="input-field input-group-control-with-search col s12 m4">
		<label for="desc_categoria">Categoria</label>
		<input  value="<%= data.detalhes_processo[0].categoria %>" id="desc_categoria" type="text">
		<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-categoria" data-href="#modalinfo" data-anchor-id="#id_categoria" data-anchor-descricao="#desc_categoria">
			<i class="fa fa-search"></i>
		</a>
		<input type="hidden" name="id_categoria" id="id_categoria">		
	</div>

	<div class="input-field input-group-control-with-search col s12 m4">
		<label for="desc_fase">Fase</label>
		<input  value="<%= data.detalhes_processo[0].fase %>" id="desc_fase" type="text">
		<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-fase" data-href="#modalinfo" data-anchor-id="#id_fase" data-anchor-descricao="#desc_fase">
			<i class="fa fa-search"></i>
		</a>
		<input type="hidden" name="id_fase" id="id_fase">		
	</div>

	<div class="input-field input-group-control-with-search col s12 m4">
		<label for="desc_advogado">Advogado Responsável</label>
		<input value="<%= data.detalhes_processo[0].advogado %>" id="desc_advogado" type="text">
		<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-advogados" data-href="#modalinfo" data-anchor-id="#id_advogado" data-anchor-descricao="#desc_advogado">
			<i class="fa fa-search"></i>
		</a>
		<input type="hidden" name="id_advogado" id="id_advogado">
	</div>
</div>