<div class="card-subtitulo center">Cliente</div>

<div class="col s12 m7">
	<div class="input-field input-group-control col s12">
		<label for="cliente_nome">Cliente</label>					
		<input disabled value="<%= data.detalhes_processo[0].cliente %>" id="cliente_nome" type="text">
	</div>
</div>
<div class="col s12 m5">
	<div class="select-field input-group-control col s12">
		<label>Posição</label>		
		<select class="browser-default" name="id_posicao_cliente">
			<option value="1" <% if(data.detalhes_processo[0].id_posicao_cliente == "1"){ %>selected <%}%>>Autor</option>
			<option value="2" <% if(data.detalhes_processo[0].id_posicao_cliente == "2"){ %> selected <%}%>>Réu</option>
			<option value="3" <% if(data.detalhes_processo[0].id_posicao_cliente == "3"){ %> selected <%} %>> Terceiro</option>
		</select>		
	</div>						
</div>
<div class="col s12 processo-botoes-envolvidos center">

	<!-- Ínicio dos Botões do Cliente -->
	
	<a class="btn bordo lighten-1 load_especifico_to_container margin-l-1rem" data-link="/sistema/processos/outros_envolvidos_cliente/<%= data.detalhes_processo[0].id %>" data-container="container_cliente_load" data-idload="1">
		<i class="fa fa-users" aria-hidden="true"></i>
		Outras pessoas no processo
	</a>
	
	<a class="btn bordo lighten-1 load_especifico_to_container margin-l-1rem " data-link="/sistema/clientes/editar_dentro_processo/<%= data.detalhes_processo[0].id_cliente%>" data-container="container_cliente_load" data-idload="2">
		<i class="fa fa-envelope-open text-darken-2" aria-hidden="true"></i>
		Ver Cadastro Cliente
	</a>

	<a class="btn bordo lighten-1 load_especifico_to_container margin-t-5 margin-l-1rem " data-link="/sistema/processos/alterar_cliente_processo/<%= data.detalhes_processo[0].id_cliente%>" data-container="container_cliente_load" data-idload="3">
		<i class="fa fa-cog text-darken-2" aria-hidden="true"></i>
		Alterar nome desta Parte
	</a>

	<a class="btn bordo lighten-1 load_especifico_to_container margin-t-5 margin-l-1rem " data-link="/sistema/clientes/listar_todos_processos/<%= data.detalhes_processo[0].id_cliente%>" data-container="container_cliente_load" data-idload="4">
		<i class="fa fa-archive text-darken-2" aria-hidden="true"></i>
		Listar todos os Processos
	</a>

	<!-- Fim dos Botões do Cliente -->

</div>
