<div class="card white">

	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3">
					<a href="#tab_container_mais_processo">Mais do Processo</a>
				</li>
				<li class="tab col s3">
					<a href="#tab_container_andamentos_processo">Andamentos</a>
				</li>
				<li class="tab col s3">
					<a href="#tab_container_compromissos_processo">Compromissos Agendados</a>
				</li>
			</ul>
		</div>
		<div id="tab_container_mais_processo" class="col s12">
			<%
			if (typeof data.detalhes_processo != 'undefined' && data.detalhes_processo.length > 0) { %>
			<div class="row">
				<div class="col s12 m7">
					<div class="input-field col s6 m4">
						<input disabled value="<%= data.detalhes_processo[0].numero %>" id="numero_processo" type="text" class="numero_processo">
						<label for="numero_processo">N° Processo</label>					
					</div>

					<div class="input-field col s6 m2">
						<input disabled value="79183" id="pasta_processo" type="text">
						<label for="pasta_processo">Pasta</label>					
					</div>

					<div class="input-field col s6 m2">
						<input disabled value="<%= data.detalhes_processo[0].id_cliente%>" id="cliente_numero" type="text">
						<label for="cliente_numero">Cliente</label>					
					</div>

					<div class="input-field col s6 m1">
						<input disabled value="<%= data.detalhes_processo[0].id_adverso%>" id="adverso_numero" type="text">
						<label for="adverso_numero">Adverso</label>					
					</div>


					<div class="input-field col s6 m3">
						<input disabled value="<%= data.detalhes_processo[0].distribuicao%>" id="distribuicao" type="text">
						<label for="distribuicao">Distribuição</label>					
					</div>

					<div class="row">
						<div class="input-field col s6 m8">
							<input disabled value="<%= data.detalhes_processo[0].cliente %>" id="cliente_nome" type="text">
							<label for="cliente_nome">Cliente</label>					
						</div>

						<div class="input-field col s6 m2">
							<input disabled value="Autor" id="autor" type="text">				
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<input disabled value="<%= data.detalhes_processo[0].adverso %>" id="adverso_nome" type="text">
							<label for="adverso_nome">Adverso</label>					
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<input disabled value="<%= data.detalhes_processo[0].valor_causa %>" id="valor_causa" type="text">
							<label for="valor_causa">Valor da Causa</label>					
						</div>
					</div>

				</div>

				<div class="col s12 m5">

					<div class="input-field col s12">
						<input disabled value="<%= data.detalhes_processo[0].tipo_causa %>" id="tipo_causa" type="text">			
					</div>

					<div class="input-field col s12">
						<input disabled value="<%= data.detalhes_processo[0].assunto %>" id="assunto" type="text">			
					</div>

					<div class="input-field col s12">
						<input disabled value="<%= data.detalhes_processo[0].comarca %>" id="comarca" type="text">			
					</div>

					<div class="input-field col s12">
						<input disabled value="<%= data.detalhes_processo[0].tipo_acao_rito %>" id="tipo_acao_rito" type="text">			
					</div>

					<div class="input-field col s12">
						<input disabled value="<%= data.detalhes_processo[0].vara %>" id="vara" type="text">			
					</div>

					<div class="input-field col s12">
						<input disabled value="<%= data.detalhes_processo[0].categoria %>" id="categoria" type="text">			
					</div>

					<div class="input-field col s12">
						<input disabled value="<%= data.detalhes_processo[0].fase %>" id="fase" type="text">			
					</div>

					<div class="input-field col s12">
						<input disabled value="<%= data.detalhes_processo[0].advogado %>" id="advogado_responsavel" type="text">
					</div>

				</div>
			</div>	

			<% } %>			
		</div>
		<div id="tab_container_andamentos_processo" class="col s12">
			<%- include('andamentos');%>
		</div>
		<div id="tab_container_compromissos_processo" class="col s12">
			<%- include('compromissos_processo');%>
		</div>
	</div>
</div>