<div class="col s12 card" style='margin-top:30px;'>
	<div class="close_container_load">
		<a class="btn btn-floating btn-medium grey darken-1 tooltipped" data-position="left" data-tooltip="Clique aqui para ocultar este bloco">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>	
		</a>
	</div>
	<div class="row">

		<input type="hidden" name="id_parcela" value ="<%=data.parcela[0].id%>">

		<div class="input-field input-group-control col s6 m3">
			<label for="valor_parcela">Valor da Parcela</label>
			<input name="valor_parcela" value="<%=data.parcela[0].valor%>">
		</div>

		<div class="input-field input-group-control col s12 m3">
			<label for="data_vencimento_parcela">Vencimento</label>
			<input id="data_vencimento_parcela" type="text" class="datepicker data_sem_hora" name="data_vencimento_parcela" value="<%=data.parcela[0].data_vencimento%>">
		</div>

		<div class="input-field input-group-control col s6 m3">
			<label for="data_recebimento_reclamada">Rec. Rda.</label>
			<input id="data_recebimento_reclamada" type="text" class="datepicker data_sem_hora" name="data_recebimento_reclamada" value="<%=data.parcela[0].data_recebimento_reclamada%>">
		</div>

		<div class="input-field input-group-control col s6 m3">
			<label for="data_pago_reclamante">Pago Rte.</label>
			<input id="data_pago_reclamante" type="text" class="datepicker data_sem_hora" name="data_pago_reclamante" value="<%=data.parcela[0].data_pago_reclamante%>">
		</div>

		<div class="input-field input-group-control col s6 m3">
			<label for="acessor_juridico">A. J.</label>
			<input value="0" name="acessor_juridico" value="<%=data.parcela[0].acessor_juridico%>">
		</div>

		<div class="input-field input-group-control col s6 m3">
			<label for="imposto_renda_parcela">Imposto de Renda</label>
			<input value="0" name="imposto_renda_parcela" value="<%=data.parcela[0].imposto_renda%>">
		</div>

		<div class="input-field input-group-control col s6 m3">
			<label for="inss_parcela">INSS</label>
			<input value="0" name="inss_parcela" value="<%=data.parcela[0].inss%>">
		</div>

		<div class="input-field input-group-control col s6 m3">
			<label for="outros_descontos_parcela">Outros Descontos</label>
			<input value="0" name="outros_descontos_parcela" value="<%=data.parcela[0].outros_descontos%>">
		</div>

		<div class="input-field input-group-control col s12">
			<label for="observacoes_parcela">Observações da Parcela</label>
			<textarea type="text" nmae="observacoes_parcela"><%= data.parcela[0].observacoes %></textarea>
		</div>

		<div class="col s12">
			<div class="bordo-line"></div>
		</div>

		<div class="input-field input-group-control col s6 m4">
			<label for="despesa_bancaria_parcela">Despesa Bancária</label>
			<input value="0" name="despesa_bancaria_parcela" value="<%=data.parcela[0].outros_descontos%>">
		</div>

		<div class="input-field input-group-control col s6 m4">
			<label for="numero_nota_fiscal_parcela">N° Nota Fiscal</label>
			<input name="numero_nota_fiscal_parcela" value="<%=data.parcela[0].numero_nota_fiscal%>">
		</div>

		<div class="input-field input-group-control-with-search col s12 m4">
			<label for="desc_banco" class="">Depositado no Banco</label>						
			<input id="desc_banco" type="text" class="ui-autocomplete-input" autocomplete="off" value="<%=data.parcela[0].banco_nome%>">
			<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-banco" data-href="#modalinfo" data-anchor-id="#id_banco" data-anchor-descricao="#desc_banco">
				<i class="fa fa-search"></i>
			</a>
			<input type="hidden" name="id_banco" id="id_banco">
		</div>
		

		<div class="col s12">
			<button data-href="/sistema/processos/editar_parcela" class="btn bordo ajax-submit-container-reload" data-container="#container_tabela_parcelas_reload" data-mensagem-sucesso="Parcela Alterada!">Atualizar Parcela
			</button>
		</div>
		

	</div>
</div>