<div class="col s12 card white">
	<div class="close_container_load">
		<a class="btn btn-floating btn-medium grey darken-1 tooltipped" data-position="left" data-tooltip="Clique aqui para ocultar este bloco">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>	
		</a>
	</div>
	<div class="row margin-b-0">

		<input type="hidden" name="id_dados_calculo" value ="<%=data.calculos_financeiro[0].id%>">

		<div class="input-field input-group-control col s12 m4">
			<label for="data_sentenca_acordo">Data da sentença ou do acordo</label>
			<input id="data_sentenca_acordo" type="text" class="datepicker data_sem_hora" name="data_sentenca_acordo" value="<%=data.calculos_financeiro[0].data_sentenca_acordo%>" required="true">
		</div>

		<div class="input-field input-group-control col s6 m3">
			<label for="porc_honorario_escritorio">Honorário do Escritório</label>
			<input value="<%=data.calculos_financeiro[0].porc_honorario_escritorio%>" name="porc_honorario_escritorio" type="number"> %
		</div>

		<div class="input-field input-group-control col s6 m3">
			<label for="porc_honorario_escritorio">Honorário do Perito</label>
			<input value="<%=data.calculos_financeiro[0].porc_honorario_perito%>" name="porc_honorario_perito" type="number"> %
		</div>

		<div class="input-field input-group-control col s6 m2">
			<label for="porc_imposto_renda">Imposto de Renda</label>
			<input value="<%=data.calculos_financeiro[0].porc_imposto_renda%>" name="porc_imposto_renda" type="number"> %
		</div>

		<div class="col s12 margin-b-10">
			<button data-href="/sistema/processos/editar-dados-para-calculo" class="btn bordo ajax-submit-no-back" data-mensagem-sucesso="Dados para Cálculo Atualizados!">Atualizar Dados Para Cálculo				
			</button>
		</div>
		

	</div>
</div>