<% if(data.adicionar_link!=undefined){%>
<a class="btn bordo lighten-1 modal-mount" data-link="<%= data.adicionar_link %>" data-href="#modalinfo2">Adicionar Novo Registro</a>

<%}%>

<a class="btn waves-effect waves-light golden darken-2 bordo-text gerar-relatorio" data-nome-provisorio="<%= data.nome_relatorio%>" data-container-relatorio="#tabela_interna">
  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
  Gerar Relatório
</a>

<table class="centered highlight tabela_loc_processos tabela_filtrada responsive-table" id="tabela_interna">
    <thead>
      <tr>
        <th>
          Selecionar
        </th>
        <th>
          Descrição Geral
        </th>
        <th>
          Ações
        </th>
      </tr>
    </thead>
    <tbody>
<%
	if (typeof data.dados != 'undefined' && data.dados.length > 0) {
		for (var i = data.dados.length - 1; i >= 0; i--) {
	 %>
	 <tr>
	 	<td>
      <a class="btn bordo selecionar-todos-dados-adverso" 
      data-id="<%= data.dados[i].id%>" 
      data-descricao="<%= data.dados[i].descricao %>" 
      data-tipo_pessoa="<%= data.dados[i].tipo %>" 
      data-cpf_cnpj="<%= data.dados[i].cpf_cnpj %>" 
      data-telefone="<%= data.dados[i].tel %>" 
      data-email="<%= data.dados[i].email %>" 
      data-contato="<%= data.dados[i].contato %>" 
      data-advogado="<%= data.dados[i].advogado %>"
      data-cep="<%= data.dados[i].cep %>"
      data-rua="<%= data.dados[i].rua %>"
      data-bairro="<%= data.dados[i].bairro %>"
      data-numerocasa="<%= data.dados[i].numero %>"
      data-cidade="<%= data.dados[i].cidade %>"
      data-estado="<%= data.dados[i].estado %>"
      >Selecionar</a>
    </td>
	 	<td><%= data.dados[i].descricao %></td>
	 	<td>     
	 		<a href="<%= data.dados[i].id %>" class="ajax-load" title="Editar Registro">
	 			<i class="fa fa-pencil yellow-text text-darken-3" aria-hidden="true"></i>
	 		</a>
      <a href="">
      	<i class="fa fa-times-circle red-text modal-remover-mount" data-href="#modaldeletar" data-id="<%= data.dados[i].id %>" data-texto="Você tem certeza que quer deletar '<%= data.dados[i].descricao %>'? " data-to="/sistema/processos/desativar" data-back="/sistema/processos" aria-hidden="true" title="Excluir Registro"></i>
      </a>
    </td>
	 </tr>

	<%}}else{ %>
	<tr>Não há Dados</tr>

	<% } %>