
<div class="titulo" style="box-shadow: 0px -1px 5px black;padding-top: 5px;">
  <div class="row">
    <div class="col s4 center-align">
      <img src="/assetsward/imgs/user-padrao.jpg" alt="" class="circle" style="width: 64px;height: 64px;">
    </div>
    <div class="col s8">
      <p id="nome">
        <%= data.usuario[0].nome %>
      </p>
    </div>
  </div>
</div>
<div class="mensagens">
  <%
  var id = "";
  if (typeof data.mensagens != 'undefined' && data.mensagens.length > 0) {
    for (var i = data.mensagens.length - 1; i >= 0; i--) {
      if (data.mensagens[i].texto != '' && data.mensagens[i].texto != 'undefined') {
        if (i == 0) {
          id = "final"
        }
        if (id_para == data.mensagens[i].id_usuario) {
          %>
          <div class="voce" id="<%= id %>">
            <%= data.mensagens[i].texto %>
          </div>
          <%
        } else {
          %>
          <div class="eu" id="<%= id %>">
            <%= data.mensagens[i].texto %>
          </div>
          <%
        }
        %>
        <%
      }
    }
  }else{ %>
  <div class="center">
    Você não possui conversas com <%= data.usuario[0].nome %> !
  </div>

  <%
}
%>
</div>
<div class="enviar-mensagem">
  <input type="text" id="mensagem-texto" placeholder="Escreva sua mensagem...">
  <i class="fa fa-paper-plane bordo" id="enviar-msg" aria-hidden="true" data-id="<%= id_para %>"></i>
</div>
<style type="text/css">
.chat-conteudo {
  /*overflow: auto;*/
  height: 90%;
}
.enviar-mensagem {
  background-color: white;
  /*width: 78%;*/
  width: 100%;
  padding: 0 40px 0 10px;
  position: relative;

}
.mensagens {
/*    padding-top: 90px;
padding-bottom: 15px;*/
overflow: auto;
height: calc(100% - 125px);


}
.titulo {
 /* position: fixed;*/
 width: 100%;
 background: #faf2e3; /* Old browsers */
 background: -moz-linear-gradient(-45deg, #faf2e3 0%, #ffffff 50%, #ffedc4 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(-45deg, #faf2e3 0%,#ffffff 50%,#ffedc4 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(135deg, #faf2e3 0%,#ffffff 50%,#ffedc4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf2e3', endColorstr='#ffedc4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
</style>
<script type="text/javascript">
  if ($('.mensagens').length > 0 && $("#final").length > 0) {
    $('.mensagens').animate({
      scrollTop: $("#final").offset().top
    }, -100);
  }
  
</script>