<section id="blog-section">
	<div class="container semi-full">
		<div class="row">
			<div class="col s12 l8 posts">
				<div class="row">
					<div class="card post">
						<div class="row">
							<div class="col s12">
								<div class="col s12 m5 post-imagem">
									<div class="card-image">
										<a href="" class="ajax-load">
											<img src="/assets/imgs/scale-bg.png">
										</a>
									</div>
								</div>
								<div class="col s12 m7 post-conteudo">
									<div class="card-content">
										<div class="post-categorias">
											<div class="chip">
												Notícias<i class="fa fa-times"></i>
											</div>
											<div class="chip">
												Dicas<i class="fa fa-times"></i>
											</div>
										</div>
										<h5 class="def-h5 post-titulo">
											<a href="/post/ver/1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula." class="ajax-load">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula.</a>
										</h5>
										<div class="post-texto">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.
											</p>
												<a href="/post/ver/1" class="leia-mais ajax-load">Leia Mais...</a>
										</div>
										<div class="post-rodape">
											<br>
											<p>
												Por <a href="" class="ajax-load"><strong class="post-autor">Amadeus</strong></a>, <a href="" class="ajax-load"><time>2 meses</time></a> atrás
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card post">
						<div class="row">
							<div class="col s12">
								<div class="col s12 m5 post-imagem">
									<div class="card-image">
										<a href="" class="ajax-load">
											<img src="/assets/imgs/scale-bg.png">
										</a>
									</div>
								</div>
								<div class="col s12 m7 post-conteudo">
									<div class="card-content">
										<div class="post-categorias">
											<div class="chip">
												Notícias<i class="fa fa-times"></i>
											</div>
											<div class="chip">
												Dicas<i class="fa fa-times"></i>
											</div>
											<div class="chip">
												Informativo<i class="fa fa-times"></i>
											</div>
										</div>
										<h5 class="def-h5 post-titulo">
											<a href="/post/ver/1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula." class="ajax-load">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula.</a>
										</h5>
										<div class="post-texto">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.
											</p>
												<a href="/post/ver/1" class="leia-mais ajax-load">Leia Mais...</a>
										</div>
										<div class="post-rodape">
											<br>
											<p>
												Por <a href="" class="ajax-load"><strong class="post-autor">Amadeus</strong></a>, <a href="" class="ajax-load"><time>2 meses</time></a> atrás
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card post">
						<div class="row">
							<div class="col s12">
	<!-- 							<div class="col s12 m5 post-imagem">
									<div class="card-image">
										<a href="" class="ajax-load">
											<img src="/assets/imgs/scale-bg.png">
										</a>
									</div>
								</div> -->
								<div class="col s12 post-conteudo">
									<div class="card-content">
										<div class="post-categorias">
											<div class="chip">
												Informativo<i class="fa fa-times"></i>
											</div>
											<div class="chip">
												Dicas<i class="fa fa-times"></i>
											</div>
										</div>
										<h5 class="def-h5 post-titulo">
											<a href="/post/ver/1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula." class="ajax-load">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula.</a>
										</h5>
										<div class="post-texto">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.
											</p>
												<a href="/post/ver/1" class="leia-mais ajax-load">Leia Mais...</a>
										</div>
										<div class="post-rodape">
											<br>
											<p>
												Por <a href="" class="ajax-load"><strong class="post-autor">Amadeus</strong></a>, <a href="" class="ajax-load"><time>2 meses</time></a> atrás
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<%
					console.log('------------------- data post ---------------------');
					console.log(data.post);
					if (typeof data.post != 'undefined' && data.post.length > 0) {
						for (var i = data.post.length - 1; i >= 0; i--) {
					%>
					<div class="card post">
						<div class="row">
							<div class="col s12">
								<%
									if(data.post[i].arquivo != undefined && data.post[i].arquivo != '') {
								%>
								<div class="col s12 m5 post-imagem">
									<div class="card-image">
										<a href="/post/ver/<%= data.post[i].id %>" class="ajax-load">
											<img src="/assets/imgs/blog/<%= data.post[i].arquivo %>">
											<div class=overlay></div>
										</a>
									</div>
								</div>
								<div class="col s12 m7 post-conteudo">
									<%
										} else {
									%>
								<div class="col s12 post-conteudo">
									<%
										}
									%>
									<div class="card-content">
										<div class="post-categorias">
											<%
											console.log('------------------- data categorias ---------------------');
											console.log(data.categorias);
											if (typeof data.categoria != 'undefined' && data.categoria.length > 0) {
												for (var j = data.categoria.length - 1; j >= 0; j--) {
													if(data.categoria[j].id_post == data.post[i].id) {
											%>
											<div class="chip">
												<%= data.categoria[j].categoria_nome %>
											</div>
											<%
										} else {}
												}
											} else {
											%>
											<%
											}
											%>
										</div>
										<h5 class="def-h5 post-titulo">
											<a href="/post/ver/1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula." class="ajax-load"><%= data.post[i].titulo %></a>
										</h5>
										<div class="post-texto">
												<p>
													<%- data.post[i].conteudo %>
												</p>
												<a href="/post/ver/<%= data.post[i].id %>" class="leia-mais ajax-load">Leia Mais...</a>
										</div>
										<div class="post-rodape">
											<br>
											<p>
												Por <a href="" class="ajax-load"><strong class="post-autor"><%= data.post[i].escritor %></strong></a>, dia <a href="" class="ajax-load"><time><%= data.post[i].data_post_alteracao %></time></a>.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<%
						}
					} else {
					%>
					<%
					}
					%>
				</div>
			</div>
			<div id="blog-sidebar" class="col s10 offset-s1 l4">
				<div class="row">
					<div class="input-field col s12 blog-pesquisa">
		        <i class="fa fa-search prefix"></i>
		        <input id="icon_prefix" type="text" class="validate">
		        <label for="icon_prefix">Pesquisar</label>
		      </div>
		      <div class="col s12">
		      	<a id="btn-gerenciar" href="/login/index" class="btn right waves-effect waves-light black-text">
              Gerenciar
            	<i class="fa fa-key" aria-hidden="true"></i>
            </a>
		      </div>
		      <div class="col s12 ultimos-posts">
		      	<h5 class="def-h5">Últimos Posts</h5>
		      	<ul>
							<%
							if (typeof data.post != 'undefined' && data.post.length > 0) {
								for (var i = data.post.length - 1; i >= 0; i--) {
							%>
							<li class="truncate">
		      			<a href="/post/ver/<%= data.post[i].id %>" class="ajax-load">
		      				<%= data.post[i].titulo %>
		      			</a>
		      		</li>
<!-- 		      		<li class="truncate">
		      			<a href="" class="ajax-load">
		      				Lorem ipsum dolor sit amet, consectetur adipiscing elit et massa a nisi ullamcorper vehicula.
		      			</a>
		      		</li>
		      		<li class="truncate">
		      			<a href="" class="ajax-load">
		      				Lorem ipsum dolor sit amet, consectetur adipiscing elit et massa a nisi ullamcorper vehicula.
		      			</a>
		      		</li>
		      		<li class="truncate">
		      			<a href="" class="ajax-load">
		      				Lorem ipsum dolor sit amet, consectetur adipiscing elit et massa a nisi ullamcorper vehicula.
		      			</a>
		      		</li>
		      		<li class="truncate">
		      			<a href="" class="ajax-load">
		      				Lorem ipsum dolor sit amet, consectetur adipiscing elit et massa a nisi ullamcorper vehicula.
		      			</a>
		      		</li>
		      		<li class="truncate">
		      			<a href="" class="ajax-load">
		      				Lorem ipsum dolor sit amet, consectetur adipiscing elit et massa a nisi ullamcorper vehicula.
		      			</a>
		      		</li>
		      		<li class="truncate">
		      			<a href="" class="ajax-load">
		      				Lorem ipsum dolor sit amet, consectetur adipiscing elit et massa a nisi ullamcorper vehicula.
		      			</a>
		      		</li> -->
							<%
								}
							} else {
							%>
							<%
							}
							%>
		      	</ul>
		      </div>
		      <div class="col s12 categorias-posts">
		      	<h5 class="def-h5">Categorias</h5>
		      	<ul>
							<%
							console.log('------------------- data categorias ---------------------');
							console.log(data.categorias);
							if (typeof data.categorias != 'undefined' && data.categorias.length > 0) {
								for (var m = data.categorias.length - 1; m >= 0; m--) {
							%>
							<li><a href=""><%= data.categorias[m].nome %></a></li>
							<%
								}
							} else {
							%>
							<%
							}
							%>
<!-- 		      		<li><a href="">Notícias</a></li>
		      		<li><a href="">Dicas</a></li>
		      		<li><a href="">Informativo</a></li> -->
		      	</ul>
		      </div>
				</div>
			</div>
			<div class="col s12 center">
				<ul class="pagination">
			    <li class="disabled"><a href="#!"><i class="fa fa-chevron-left"></i></a></li>
			    <li class="active"><a href="#!">1</a></li>
			    <li class="waves-effect"><a href="#!">2</a></li>
			    <li class="waves-effect"><a href="#!">3</a></li>
			    <li class="waves-effect"><a href="#!">4</a></li>
			    <li class="waves-effect"><a href="#!">5</a></li>
			    <li class="waves-effect"><a href="#!"><i class="fa fa-chevron-right"></i></a></li>
			  </ul>
			</div>
		</div>
	</div>
</section>

<style type="text/css">
	.post-conteudo .post-texto article {
		font-size: 15px;
		line-height: 1.5em !important;
	}
</style>

<!-- <style type="text/css">
	#blog-section .card .card-content {
		padding: 15px;
	}
	#blog-section .posts {
		margin-top: 40px;
	}
	#blog-section .posts .post > .col {
		padding: 20px !important;
	}
	#blog-section .posts .post .post-imagem img {
		border-radius: 4px;
	}
	#blog-section .posts .post .post-conteudo .post-titulo a {
		color: #d6b24c !important;
	}
	#blog-section .posts .post .post-conteudo .post-texto p {
		max-height: 4.5em;
		overflow: hidden;
	}
	#blog-section .posts .post .post-conteudo .post-texto a.leia-mais {
		color: #f4d59a;
	}
	#blog-section .posts .post .post-conteudo .post-rodape a {
		color: #fff !important;
	}
	#blog-section .posts .post .post-conteudo .post-rodape a .post-autor{
		color: #d6b24c !important;
	}
	#blog-section .ultimos-posts, #blog-section .categorias-posts {
		margin: 30px 0;
	}
	#blog-section .ultimos-posts ul li, #blog-section .categorias-posts ul li {
		margin: 10px 0 10px 20px;
	}
	#blog-section .ultimos-posts li a, #blog-section .categorias-posts li a {
		color: #d2a72e;
	}
	#blog-section .ultimos-posts li, #blog-section .categorias-posts li {
		margin-left: 20px;
	}
	#blog-section #blog-sidebar {
		padding-left: 40px;
	}
	#blog-section .pagination li.active {
		background: rgba(251,210,87,1) !important;
  background: -moz-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(251,210,87,1)), color-stop(30%, rgba(255,239,189,1)), color-stop(100%, rgba(235,217,14,1))) !important;
  background: -webkit-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: -o-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: -ms-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: linear-gradient(135deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd257', endColorstr='#ebd90e', GradientType=1 ) !important;
	}
	#blog-section .pagination li.active a {
		color: #000;
	}
	#blog-section .pagination li.disabled a {
		color: #797979;
	}
	#blog-section .pagination li a {
		color: #d6d6d6;
	}
	/*-----estilo blog-----*/
	.blog-pesquisa {
		margin-top: 50px;
	}
	.chip {
		border-radius: 5px;
		background-color: #fbd256;
	}
	.chip > i {
		margin-left: 5px;
		font-size: 13px;
	}
</style> -->