  <a href="/sistema/tarefas" class="ajax-load">
   <div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-r">Início</div>
 </a>
 <div class="cream tab-archive">Tarefas</div>

 <a href="/sistema/tarefas/criar" class="ajax-load">
  <div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-r">Criar Tarefas</div>
</a>

<a href="/sistema/tarefas/sac" class="ajax-load">
  <div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-r">SAC</div>
</a>


<div class="card cream archive">
  <div class="right-align row">

   <a href="/sistema/tarefas/sac" class="ajax-load">
     <div class="left valign-wrapper">
      <div class="btn-floating btn-large waves-effect waves-light bordo lighten-1">
        <i class="fa fa-columns" aria-hidden="true"></i>            
      </div>
      <div class="black-text margin-l-5">Sac</div>  
    </div>
  </a>

  <div class="right valign-wrapper">
    <div class="black-text margin-r-5">Criar Tarefa</div>
    <a class="btn-floating btn-large waves-effect waves-light bordo lighten-1 right ajax-load" href="/sistema/tarefas/criar">
      <i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>

  </div>

  <ul class="collapsible popout" data-collapsible="accordion, expandable">
    <%
    if (typeof data != 'undefined' && data.length > 0) {
      for (var i = data.length - 1; i >= 0; i--) {
        if (typeof data[i].nome_usuario != 'undefined') {
          %>
          <li>
            <div class="collapsible-header position TarefasLoad" data-id="<%= data[i].id_usuario %>" style="padding-right: 100px;">
              <span class="texto">
               <%= data[i].nome_usuario %>
             </span>
           </div>
           <div class="collapsible-body" id="<%= data[i].id_usuario %>">
           </div>
         </li>
         <%
       } else {
        %>
        <li>
          <div class="collapsible-header position TarefaLoad" data-id="<%= data[i].id %>" style="padding-right: 100px;">
            <div class="porcentagem" style="position: absolute;bottom: 0;left: 0;background-color: rgb(79, 33, 40);width: <%= data[i].porcentagem * 100 %>%;height: 5px;transition: 1s;"></div>
            <span class="texto">
              <%= data[i].nome %>&nbsp;|&nbsp;<b>Data de Entrega:</b>&nbsp;<%= data[i].data_prevista %>&nbsp;<b>Tempo disponivel:</b>&nbsp;<%= data[i].tempo_previsto.slice(0, 5) %>/horas
            </span>
            <span class="right-position">
              <i class="fa fa-times-circle red-text modal-remover-mount" data-href="#modaldeletar" data-id="<%= data[i].id %>" data-texto="Você tem certeza que quer deletar '<%= data[i].nome %>'? " data-to="/sistema/tarefas/desativar" data-back="/sistema/tarefas/tarefas" aria-hidden="true"></i>
              <!-- <i class="fa fa-comments-o blue-text" aria-hidden="true"></i> -->
            </span>
          </div>
          <div class="collapsible-body">
           <ul class="collection with-header tarefas">
           </ul>
         </div>
       </li>
       <%
     }
   }
 } else {
  %>
  <li>
    <div class="collapsible-header position">
      Não foi cadastrada nenhuma tarefa até o momento
    </div>
  </li>
  <%
}
%>
</ul>
</div>
