         


<%
for (var j = 0; j < data.relatorio.length;j++) {
  %>


  <div class="col s12 center uppercase f16 strong border-t-grey border-r-grey border-l-grey margin-t-10">
    Data: <%= data.relatorio[j].data_inicial_relatorio %> <%= data.relatorio[j].dia_semana_relatorio %>

    <div class="center strong">
      <%= data.relatorio[j].comarca %>
    </div>
  </div>
  <div class="col s12 border-grey">
    <div class="col s2">
      <%= data.relatorio[j].data_inicial %>
    </div>
    <div class="col s2">
      <%= data.relatorio[j].vara %>
    </div>
    <div class="col s2">
      <%= data.relatorio[j].comarca %>
    </div>
    <div class="col s2">
      <%= data.relatorio[j].numero %>
      <hr>
      <%= data.relatorio[j].advogado_compromisso %>
    </div>
    <div class="col s2">
      <%= data.relatorio[j].cliente %>
    </div>
    <div class="col s2">
      <%= data.relatorio[j].adverso %>      
    </div>
  </div>


  <%}%>